html {
    color: #eee;
    font-family: 'Noto Sans', sans-serif;
    user-select: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes wave{
    from{
        background-position-x:-6000px, -14000px;
    }
    to{
        background-position-x: -3000px, -7000px;
    }
}
.screen {
    height: 100vh;
    display: none;
}
.screen-show {
    display: block;
}
button{
    background-color: inherit;
    border: none;
    font-size: inherit;
    color: inherit;
    text-shadow: inherit;
}
.container{
    max-width: 95.93rem;
    margin: 0 auto;
}
