.main-menu .container{
    height: 100vh;
    background-image: url('assets/main-menu-bg.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-menu-list{
    padding-bottom: 15.2rem;
    text-align: center;
}
.main-menu-list li {
    font-size: 19px;
    font-weight: 300; 
    color: rgba(175, 175, 175, 0.87); 
    list-style: none;
    line-height: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.47); 
    width: 65rem;
    padding-block: 0.656rem;
   
    background-position: left -75px center, left -75px center;
    mask-image: linear-gradient(to left, transparent 0%, white 20%, white 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to left, transparent 0%, white 20%, white 80%, transparent 100%);
}
.main-menu-list li:hover{
    color: rgba(255, 255, 255, 0.87); 
    cursor: pointer;
    background-image: url('assets/wave.png'), url('assets/wave2.png');
    animation: wave 50s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes wave{
    from{
        background-position-x: -2000px, -2500px;
    }
    to{
        background-position-x: -75px, -190px;
    }
}
