.tools {
    background-color: #000;
    height: 100%;
}
.tools-main {
    display: flex;
}
.tools-left {
}
.tools-left-top {
}
.tools-title {
}
.tool {
}
.tool-ladder {
}
.tool-content {
}
.tool-title {
}
.tool-numbers {
}
.tool-number1 {
}
.tool-number2 {
}
.tool-number3 {
}
.tool-anchor {
}
.tool-repair-spray {
}
.tool-blood-bag {
}
.tools-left-bottom {
}
.tools-requirements {
}
.requirements-text {
}
.tools-resourse {
}
.resourse-title {
}
.resourse-numbers {
}
.resourse-required {
}
.resourse-available {
}
.tools-right {
}
